// base
@import "partials/_normalize.scss";
@import "compass";
@import "partials/_variables.scss";
@import "partials/_mixin.scss";
@import "sassy-buttons";

html {
  box-sizing: border-box;
  font-size:100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a,
a:active,
a:visited {
  color:$main-text-color;
}

a:hover {
  text-decoration: none;
  
}

body {
  @include reset;
  font-family: $font;
  text-shadow: 0 1px 0 $text-shadow;
  overflow: hidden;
  background: url('../images/dist/ricepaper.png') $main-bg; 
  background-size:250px;
  font-size:1em;
  line-height:1.6em;
  font-weight: 300;
  height: 100%;
}

img {
  max-width: 100%;
  border:0;
  vertical-align: bottom;
}

.header,
.footer { 
  background:url("../images/dist/noise.png") $main-bg;
  color:$main-text-color;
  @include clearfix;
 }
 
.header { 
  border-bottom:5px solid $border-color;
  padding: 20px;
  
  
  @include respond-to(980) {padding:5px;}
  
  .left {
    
    float: left;    
    @include clearfix;
    @include respond-to(980) {height:auto;}
    
    .logo {
     
      width: 40px;
      float: left;
      display: block;
      
      @include respond-to(980) {width:20px;padding:3px 0 0 0;}
    }
    
    h1 {
      float: left;
      font-family: $heading-font;
      margin: 0;
      padding:15px 20px 0 10px; 
      color:darken($main-bg,25%);
      font-size:2.2em;
      line-height: .55em;
      text-align: center;
      @include respond-to(990) {padding:5px 10px 0 10px}
      @include respond-to(700) {display: none;}
      
      span {
        font-family: $font;
        font-size:.4em ;
        font-weight: 300;
        color:#999
      }
      
    }
  } //header left (logo)
  
  
  .center {
    width: auto;
    float: left;
    padding:15px 0 0 0; 
    position: relative;
    
    &.url-active{ .alert-url {opacity:0;bottom:-100px;transition:all .25s cubic-bezier(0.645, 0.045, 0.355, 1)}}
    
    
    .alert-url {
      z-index: 999;
      position: absolute;
      bottom: -90px;
      left: 50%;
      transform:translateX(-50%);
      background:$triangle-bg;
      background:$alert-bg ;
      padding: 20px;
      width:300px;
      height:auto;
      text-align: center;
      box-shadow:0 0 10px rgba(0,0,0,.2);
  border-radius: 4px;
  color: #8a6d3b;
  
  img {width:25px;margin: 0 5px 0 0;}
  
  &:before {
      
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent $triangle-bg transparent;
      z-index: 9999;
      position: absolute;
      content:"";
      top: -20px;
      left: 50%;
      transform:translateX(-50%);
    }
  }//alert url
  
  #alert-forbidden {
    display:none;
    opacity:0;
    transition:all .25s cubic-bezier(0.645, 0.045, 0.355, 1);
    
   &.forbidden {
     @extend .alert-url;
     background:$forbidden-bg;
     display: block;
     opacity:1 !important;
     color:$drunk-button-red-text;
     text-shadow:0 1px 0 rgba(0,0,0,.2);
     bottom: -150px !important;
     
     &:before {
        @extend .alert-url:before;
        border-color: transparent transparent $forbidden-triangle-bg transparent;
     }
   }
  }
    
    
    @include respond-to(980) {padding: 0 0 0 5px;}
    
    form {
      label {
        display: block;
        @include respond-to(980) {display: none;}
      }
      
      input {
        vertical-align: middle;
        @include reset;
        border:0;
        padding:10px;
        border-radius:3px;
        font-family:"Courier New", Courier, monospace;
        display: inline-block;
        width:300px;
        @include respond-to(980) {
         width: 210px;
          
        }
      }//input
      
      button {
        vertical-align: middle;
      box-shadow:none;
      padding:7px 20px;
      font-family:'courier';
      border:0;
      color:#333;
      cursor:pointer;
      background:$submit-bg;
      color:$submit-text-color;
      border-radius:3px;
    }//go button
  }//form
}//center
  
  
  .right {
    
    @include clearfix;
    float: right;
    padding: 0;
    position: relative;
    
     @include respond-to(990) {
      text-align: center;
      float:right;
      width: auto;
      clear: none;
      padding: 0;
      }
    @include respond-to(500) {
      padding:5px 0 0 0;
      float:none;
      width: 100%;
      clear: left;
    }
    
    .alert-btn {display:none}
    
    &.godrunk {

    .alert-btn {
      display:block;
      z-index: 999;
      position: absolute;
      content:"Hit This!";
      bottom: -80px;
      left: 50%;
      transform:translateX(-50%);
      background:$triangle-bg;
      background:$alert-bg;
      
      padding: 20px;
      width:150px;
      height:auto;
      text-align: center;
      box-shadow:0 0 10px rgba(0,0,0,.2);
  border-radius: 4px;
  color: #8a6d3b;
  
  img {width: 25px; }
  
          &:before {
      width: 0;
height: 0;
border-style: solid;
border-width: 0 20px 20px 20px;
border-color: transparent transparent $triangle-bg transparent;

      z-index: 9999;
      position: absolute;
      content:"";
        top: -20px;
      left: 50%;
      transform:translateX(-50%);
     
     
    }

    }//alert btn
    }//godrunk
    
  }//right
}//header


.drunk {
  @include sassy-button("simple", 5px, 19px, $drunk-button) ;
  position:relative;
  padding:20px;
  color:$drunk-button-text;
  text-shadow: 0 1px 0 white;
  border-radius:10px;
  cursor:pointer;
  text-transform: uppercase;

  @include respond-to(990) {
   display: inline-block;
   float: right; 
   padding:5px 10px;
   margin:0 0 0 20px;  
   
  }

  @include respond-to(500) {
   display: block;
   float: none; 
   padding:10px;
   margin:0; 
   
  }
  
  &:after {
    width: 150px;
    height: 50px;
    background:url("../images/dist/sign.png") center center no-repeat;
    background-size:100% auto;
    content:"";
    position: absolute;
    left:-160px;
    top: 0;
    opacity:.6;
    
    @include respond-to(990) {display: none;}
    
  }
  

  &.active {
   @include sassy-button("simple", 5px, 19px, $drunk-button-red);
   color:$drunk-button-red-text;
   padding: 20px;
   @include respond-to(990) {padding:5px 10px;}
   @include respond-to(500) {display: block;}
    
    &:after {
    display: none;
    
  }
  }
}

.theframe {
  width: 100%;
  border:0;
  vertical-align: bottom;
  position:relative;

}

.footer {
  border-top:5px solid $border-color;
  @include clearfix;
  padding:10px 20px;
  
   @include respond-to(980) {
     padding:5px;
     }
  
  .cell {
    float: left;

    @include respond-to(980) {
      float: none;
      text-align: center;
      
      }
    
    &:last-child {
      float: right;
      
      @include respond-to(980) {
      
      float: none;
      text-align: center;
      
      }
      
      a {
        padding:0 5px 0 0;
      }
      
      span {
        display: inline-block;
        font-size:.7em;
        color:$text-color-toned-down;
      }
    }//right cell
  }//cell
}//footer

.twitter-share-button {
  vertical-align: middle;
}

@import "partials/_animations.scss";

