// base
@import "compass";
@import "partials/_variables.scss";
@import "partials/_mixin.scss";
@import "sassy-buttons";



html {
  box-sizing: border-box;
  font-size:100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include reset;
  background:#fff;
  font-family: $font;
  text-shadow: 0 1px 0 #fff;
  overflow: hidden;
  background: $main-bg;
  font-size:1em;
  line-height:24px;
}

img {
  max-width: 100%;
  border:0;
  vertical-align: bottom;
}

.header,
.footer {
  padding: 20px;
  background:$main-bg;
  color:$main-text-color;
  @include clearfix;
 }
 
.header { 
  border-bottom:5px solid darken($main-bg,10%);
  
  @include respond-to(980) {
    height:auto;
    padding:5px;
  }
  
  .left {
    width:auto;
    float: left;
    height: 100%;
    
      @include respond-to(980) {
    height:auto;
    position:static;
  }
    
    
    .logo {
     
      width: 40px;
      float: left;
      display: block;
  @include respond-to(980) {
    position:static;
    transform: none;
    width:20px;
  }
    }
    
    h1 {
      float: left;
      font-family: $heading-font;
     
      @include reset;
      padding:20px 20px 0 10px; 
      color:darken($main-bg,15%);
      font-size:2.2em;
        @include respond-to(980) {
    display: none;
  }
      
    }
  }
  .right {
    width: auto;
    float: left;
    height: 100%;
    padding:0 0 0 20px;
    
          @include respond-to(980) {
            position:static;
    height:auto;
    width: auto;
     transform: none;
     padding: 0 0 0 10px;
     float: left;
  }
    
    form {
    
    @include respond-to(980) {
    position:static;
    height:auto;
    width: auto;
     transform: none;
     
     
  }
      label {
        display: block;
        margin: 0 0 10px;
         @include respond-to(980) {display: none;}
      }
    }
  }
}

input {
  vertical-align: middle;
  @include reset;
  border:0;
  padding:10px;
  border-radius:3px;
  font-family:"Courier New", Courier, monospace;
  display: inline-block;
  width:300px;
  @include respond-to(980) {
   width: 220px;
    
  }
}

button {
  box-shadow:none;
  padding:10px 20px;
  font-family:'courier';
  border:0;
  color:#333;
  cursor:pointer;
  background:lightgrey;
  border-radius:3px;
}

a,
a:active,
a:visited {
  color:$main-text-color;
}

a:hover {
  text-decoration: none;
  
}

.twitter-share-button {
  vertical-align: middle;
}

.drunk {
  
  @include sassy-button("simple", 5px, 19px, darken(#C8F7C5,5%)) ;
  
  float: right;
 position:relative;
  padding:20px;
  color:$main-text-color;
  text-shadow: 0 1px 0 white;
  border-radius:10px;
  cursor:pointer;
  text-transform: uppercase;

  @include respond-to(600) {
   position: static;
   transform:none;
   float: none; 
   padding:10px;
   margin:0 0 0 20px;  
   
  }

  
  @include respond-to(500) {
   position: static;
   transform:none;
   float: none; 
   padding:10px;
   margin:10px 0 0 30px; 
   
  }
  
  &:after {
    width: 150px;
    height: 50px;
    background:url("../images/dist/sign.png") center center no-repeat;
    background-size:100% auto;
    content:"";
    position: absolute;
    left:-160px;
    top: 0;
    opacity:.6;
    
    @include respond-to(401) {display: none;}
    
  }
  

  &.active {
   @include sassy-button("simple", 5px, 19px, red) ;

    &:after {
    display: none;
    
  }
  }
}

.theframe {
  width: 100%;
  border:0;
  vertical-align: bottom;
  position:relative;

  
}

.footer {
  border-top:5px solid darken($main-bg,10%);
  @include clearfix;
  padding:10px 20px;
  
   @include respond-to(980) {
     height:auto;
     padding:5px;}
  
  .cell {
    float: left;
   
    
    @include respond-to(980) {
      float: none;
      position: static;
      text-align: center;
      transform:none;}
    
    &:last-child {
      float: right;
          @include respond-to(980) {
      float: none;
      position: static;
      text-align: center;
      transform:none;}
      a {
        padding:0 5px 0 0;
      }
      
      span {
        display: inline-block;
        font-size:.7em;
        color:#999;
      }
    }
  }
}
@import "partials/_animations.scss";

