@keyframes drunkvision1 {
  
  0%,100% {
    transform:scale(1) translate(0,0) rotate(0);
    -webkit-filter:blur(.5px);
   
  }
  
  10% {
    
  }
  
  20% {
    
  }
  
  30% {
    
  }
  
  40% {
    
  }
  
  50% {
     transform:scale(1.01) translate(-5px,-10px) rotate(5deg);
     -webkit-filter:blur(1px);
    
  }
  
  60% {
    
  }
  
  70% {
    
  }
  
  80% {
    
  }
  
  90% {
    
  }
  

  
  
}
