$heading-font:'Lobster', cursive;
$font:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$main-bg:#DDDDBA;
$main-text-color:#111106;
$text-shadow:#F0F0D8;
$text-color-toned-down:#777;
$border-color:#111106;

$submit-bg:lightgrey;
$submit-text-color:#333;
$drunk-button:darken(#C8F7C5,5%);
$drunk-button-text:#333;
$drunk-button-red:red;
$drunk-button-red-text:#fff;


