$heading-font:'Lobster', cursive;
$font:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$main-bg:#DDDDBA;
$main-text-color:#111106;
$text-shadow:#F0F0D8;
$text-color-toned-down:#777;
$border-color:#111106;
$triangle-bg:#fcf8e3;
$forbidden-triangle-bg:#e74c3c;
$forbidden-bg:linear-gradient(to bottom,#e74c3c 30%,darken(#e74c3c,10%));
$alert-bg:linear-gradient(to bottom,#fcf8e3 30%,darken(#fcf8e3,10%));
$submit-bg:#111106;
$submit-text-color:#fff;
$drunk-button:darken(#C8F7C5,5%);
$drunk-button-text:#333;
$drunk-button-red:red;
$drunk-button-red-text:#fff;


